@import 'variables';

.app {
    height: 100%;
    width: 100%;
    position: fixed;
    // margin: auto;
    // padding-top: $app-header-height + 24px;
}

.app__layout {
    width: 100%;
    height: 100%;
    position: relative;
}

.app__layout__sidebar-toggle {
    position: absolute;
    top: 16px;
    left: 16px;
    display: block;
    z-index: 99;

    @media all and (min-width: $medium-breakpoint) {
        display: none;
    }
}

.app__layout__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.app__layout__sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    padding: 32px;
    overflow: auto;
    z-index: 10;
    transform: translateX(-100%);
    background: #fff;
    z-index: 20;

    @media all and (min-width: $medium-breakpoint) {
        box-shadow: 0 4px 16px rgba(12,12,13,.1);
        transform: translateX(0);
    }
}

.app__layout__content {
    width: 100%;
    height: 100%;
    position: relative;

    &__frame {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(0);
    }

    @media all and (min-width: $medium-breakpoint) {
        &__frame {
            width: calc(100% - 240px);
            transform: translateX(240px);
        }
    }
}

// Sidebar forced open interraction
.app__layout[sidebar-open] {
    .app__layout__sidebar {
        box-shadow: 0 4px 16px rgba(12,12,13,.1);
        transform: translateX(0);
    }

    .app__layout__sidebar-toggle {
        display: none;
    }

    .app__layout__overlay {
        opacity: .4;
        pointer-events: initial;
    }
}