@import 'variables';

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    backdrop-filter: saturate(180%) blur(20px);

    &__inner {
        display: flex;
        margin: 0 auto;
        max-width: $max-width;
        height: $app-header-height;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;

        @media all and (min-width: $medium-breakpoint) {
            padding: 0 24px;
        }
    }
}