// Breakpoints
$medium-breakpoint: 800px;

// Layout
$max-text-width: 800px;
$content-padding: 0 16px;

// Typography
$type-display-20-size: 33px;
$type-title-30-size: 22px;
$type-title-20-size: 17px;
$type-title-10-size: 13px;
$type-body-20-size: 15px;
$type-body-10-size: 13px;
$type-caption-20-size: 13px;
$type-caption-10-size: 11px;

$type-display-20-weight: 200;
$type-title-30-weight: 300;
$type-title-20-weight: 500;
$type-title-10-weight: 500;
$type-body-20-weight: 400;
$type-body-10-weight: 400;
$type-caption-20-weight: 400;
$type-caption-10-weight: 400;