<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <base target="_blank"/>
        <style>
            /* inject:/styles/demo.scss */
            /* endinject*/
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.19/webcomponents-lite.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body class="demo-page">
        <article>
            {{{body}}}
        </article>
        <script>
            window.customElements.define('custom-element-demo', class CustomElementDemo extends HTMLElement {
                constructor() {
                    super()
                    const temp = this.querySelector('template')
                    const iframe = document.createElement('iframe');
                    const html = `
                        <head>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.19/webcomponents-lite.js"><\/script>
                        </head>
                        <body style="margin: 0; padding: 0;">${temp.innerHTML}</body>
                    `;
                    const inner = document.createElement('div');
                    inner.appendChild(iframe);
                    this.appendChild(inner)

                    iframe.style.visibility = 'hidden';
                    iframe.style.height = '0px';

                    setTimeout(() => {
                        iframe.contentWindow.document.open();
                        iframe.contentWindow.document.write(html);
                        iframe.contentWindow.document.close();    
                        iframe.contentWindow.document.addEventListener('DOMContentLoaded', () => {
                            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
                            iframe.style.visibility = 'visible';
                        }, false)
                    }, 100)
                }

                connectedCallback() {
                    this.style.display = 'none';

                    setTimeout(() => {
                        this.style.display = 'block';
                    }, 100)
                }
            });
        </script>
    </body>
</html>