<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overview</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.19/webcomponents-lite.js"></script>
    <script src="https://unpkg.com/web-component-dom-tree@1.0.0/dist/dom-tree.bundle.js"></script>
</head>
<body>
    <script>
        const tree = document.createElement('dom-tree');
        tree.querySelectorAll('a').forEach(link => {
            e.addEventListener('click', e => {
                e.preventDefault;
                e.stopPropagation();
                console.log(e)
                return false;
            })
        })

        fetch('/index.json').then(res => res.json())
        .then(res => {
            tree.items = res.pages;
            tree.isHref = true;
            tree.pathKey = 'pathHTML';
            tree.titleKey = 'title';
            document.body.appendChild(tree)
        });
    </script>
</body>
</html>